.back 
{
    position: absolute;
    top: 0.75vw;
    left: 2vw;
    z-index: 8;
    color: white;
}
.game-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;

    width: 100vw;
    height: 100vh;
}
.game-container .game
{
    background: linear-gradient(to top, #13b40e, #0d8d0d); /* Dégradé du vert clair en haut (#6ca70f) au vert foncé en bas (#004d00) */
    width: 100vw;
    height: calc(100vh - 5vw);
}
.game-container header,
.game-container footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
    width: 100vw;
    height: 2.5vw;
    background-color: rgb(41, 41, 41);
}
#player 
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;

    height: 2.5vw;
    width: 2.5vw;

}
.standing {
    background-image: url(./mariostanding.png);
    background-size: cover;
}
.runleft {
    background-image: url(./mariogauche.png);
    background-size: cover;
}
.runright {
    background-image: url(./mario_droite.png);
    background-size: cover;
}
.rundown {
    background-image: url(./mariofront.png);
    background-size: cover;
}
/*.runup
{
}
*/

.water {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    background-color: blue;
    z-index: 2;
}

.wall {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    z-index: 3;
    background-image: url(./rock.png);
    background-size:cover;
}

.tree {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 1.5vw;
    width: 1.5vw;
    background-color:  rgb(1, 97, 1);
    z-index: 4;
}

#missile-container
{
    position: absolute;
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.missile 
{
    position: absolute;

    border-radius:100%;
    height: 1.5vw;
    width: 1.5vw;
    background-color: #38095e;
    transition: all ease 7s;
}
.test
{
    display: none;
    background-color: red !important;
}
#portal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 6vw;
    height: 6vw;
    top: -2,5vw;
    right: 50%;
    background-image: url(./portal.png);
    background-size: cover;
    z-index: 5;
}