.back 
{
    position: absolute;
    top: 0.75vw;
    left: 2vw;

    color: white;
}
.game-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;

    width: 100vw;
    height: 100vh;
}
.game-container .game
{
    width: 100vw;
    height: calc(100vh - 5vw);
}
.game-container header,
.game-container footer
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 2.5vw;
    background-color: black;
}
#player 
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;

    height: 5vw;
    width: 5vw;
    background-color: blueviolet;
    
}
#wall
{
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 200px;
    left:200px;
}
#wall img
{
    width: 100%;
}
#missile-container
{
    position: absolute;
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.missile 
{
    position: absolute;

    border-radius:100%;
    height: 2vw;
    width: 2vw;
    background-color: #38095e;
    transition: all ease 7s;
}
.test
{
    display: none;
    background-color: red !important;
}