.back 
{
    position: absolute;
    top: 0.75vw;
    left: 2vw;
    z-index: 8;
    color: white;
}
.game-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;

    width: 100vw;
    height: 100vh;
}
.game-container .game 
{
    width: 100vw;
    height: calc(100vh - 5vw);
}


/*Variantes selon les biomes*/
.default
{
    background: linear-gradient(to bottom, #3dc039, #1f6a1f);
}
.desert-de-cristal {
    background: linear-gradient(to top, #f7e7ce, #ffffff);
}

.toundra-gelee {
    background: linear-gradient(to top, #dcebed, #ffffff);
}

.marais-hante {
    background: linear-gradient(to bottom, #388659, #2a6d33);
}

.volcan-actif {
    background: linear-gradient(to bottom, #5e5755, #4d1414);
}

.canyon-abyssal {
    background: linear-gradient(to bottom, #c47309, #a0522d);
}

.plage-tropicale {
    background: linear-gradient(to bottom, #ffe4b5, lightskyblue);
}

.montagnes-flottantes {
    background: linear-gradient(to bottom, #708090, #6487a3);
}

.jungle-perdue {
    background: linear-gradient(to bottom, #218121, #068106);
}



.game-container header,
.game-container footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
    width: 100vw;
    height: 2.5vw;
    background-color: rgb(41, 41, 41);
}
#player 
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;

    height: 2.5vw;
    width: 2.5vw;

}
.standing {
    background-image: url(./mariostanding.png);
    background-size: cover;
}
.runleft {
    background-image: url(./mariogauche.png);
    background-size: cover;
}
.runright {
    background-image: url(./mario_droite.png);
    background-size: cover;
}
.rundown {
    background-image: url(./mariofront.png);
    background-size: cover;
}
/*.runup
{
}
*/

.water {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    background: linear-gradient(45deg, lightskyblue, rgb(165, 255, 255), lightskyblue, rgb(165, 255, 255), lightskyblue);
    z-index: 2;
    transform: perspective(500px) rotateX(30deg);
    border-radius: 45%;
}
.lava {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    background: linear-gradient(#e7280e, rgb(250, 92, 0), #e7280e, rgb(250, 92, 0), #e7280e);
    z-index: 2;
    transform: perspective(500px) rotateX(30deg);
    border-radius: 30%;
}
.wall {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    z-index: 3;
    background-image: url(./rock.png);
    background-size:cover;
}

.tree {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 1.5vw;
    width: 1.5vw;
    background-size: cover;
    z-index: 4;
}
.normal {
    background-image: url('./tree.png');
}

.palmier{
    background-image: url('./palmier.png');
    background-size: 70%;
    background-repeat: no-repeat;
}

#missile-container
{
    position: absolute;
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.missile 
{
    position: absolute;

    border-radius:100%;
    height: 1.5vw;
    width: 1.5vw;
    background-color: #38095e;
    transition: all ease 7s;
}
.test
{
    display: none;
    background-color: red !important;
}

@keyframes spin { /*Animation du portail */
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#portal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1vw;
    height: 1vw;
    top: 10%;
    right: 50%;
}

#fakeportal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 6vw;
    height: 6vw;
    top: 5%;
    right: 47%;
    background-image: url(./portal.png);
    background-size: 100%;
    z-index: 5;
    animation: spin 2s linear infinite;
}

#key {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2vw;
    width: 2vw;
    background-image: url(./key.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
    transform: rotate(45deg);
}