<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LE JEU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="home">
        <h1 class="home-title">Projet NSI</h1>
        <div class="biome-txt">Jouer sur le Biome: </div>
        <div class="biome-selection">
            <a href="{{ url_for('game', biome='default') }}"><button class="biome-select">Plaine</button></a>
            <a href="{{ url_for('game', biome='desert-de-cristal') }}"><button class="biome-select" id="">Désert de Cristal</button></a>
            <a href="{{ url_for('game', biome='toundra-gelee') }}"><button class="biome-select" id="">Toundra Gelée</button></a>
            <a href="{{ url_for('game' , biome='marais-hante')}}"><button class="biome-select" id="m">Marais Hanté</button></a>
            <a href="{{ url_for('game', biome='volcan-actif') }}"><button class="biome-select" id="">Volcan Actif</button></a>
            <a href="{{ url_for('game', biome='plage-tropicale') }}"><button class="biome-select" id="">Plage Tropicale</button></a>
            <a href="{{ url_for('game', biome='montagnes-flottantes') }}"><button class="biome-select" id="">Montagnes Flottantes</button></a>
            <a href="{{ url_for('game', biome='jungle-perdue') }}"><button class="biome-select" id="">Jungle Perdue</button></a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='biome.js') }}"></script>
</body>
</html>
